body{
  background-color : #b0e0e6;
}

textarea{
  resize: vertical;
  height : 80px;
  width  : 640px;
}

.box1{
  width: 640px;
  padding-left: 200px;
}

.stronger{
  color : red;
}

.reidaibox{
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
}

.reidai{
  color : green;
  font-weight : bold;
}

.prettyprint ol.linenums > li {
 list-style-type: decimal; 
}
